<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Nutricion</title>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/0a7a31bd42.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Styles/style.css">
</head>

<body>

    <style>
        * {
            font-family: 'PT Sans', sans-serif;
        }
    </style>

    <header>

        <nav class="">

            <ul class=" navegacion  ">

                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registro.html"> Registrar Datos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="estadistica.html"> Estadisticas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CalcularImc"> CalcularImc </a>
                </li>
            </ul>

            </ul>
        </nav>
        <main>
            <section class="w-full md:flex flex items-center">
                <figure class="w-1/2 md:10   ">
                    <video src="video/ll.mp4" controls class="video"> </video>
                    <img class= "imagen" src="imagenes/_104677114_prmo_imc-nc.jpg">
            </figure>
                <article class="w-full md:w-1/2" id=" articulo">
                    <div class="w-4/5 mx-auto py-12 md:py-0">
                        <h1 class="text-3xl  font-b"> Indice de Masa Corporal</h1>
                        <p class="my-2 "> Obesidad </p>
                        <p class="text-justify"> El sobrepeso y la obesidad se definen como una acumulación anormal o
                            excesiva de grasa que puede ser perjudicial para la salud. El índice de masa corporal (IMC)
                            es un indicador simple de la relación entre el peso y la talla que se utiliza frecuentemente
                            para identificar el sobrepeso y la obesidad en los adultos. <br><br>

                            Las investigaciones han demostrado que a medida que aumenta el peso hasta alcanzar los
                            niveles de sobrepeso y obesidad*, también aumentan los riesgos de las siguientes afecciones

                            <br><br>
                        <ul></ul>
                        1. Enfermedad coronaria <br>
                        2. Diabetes tipo 2 <br>
                        3. Cáncer (de endometrio, de mama y de colon)external icon <br>
                        4. Hipertensión (presión arterial alta) <br>
                        5. Dislipidemia (por ejemplo, niveles altos de colesterol total o de triglicéridos) <br>
                        6. Accidente cerebrovascular <br>
                        7. Enfermedad del hígado y de la vesícula <br>
                        8. Apnea del sueño y problemas respiratorios <br>
                        9. Artrosis (la degeneración del cartílago y el hueso subyacente de una articulación) <br>
                        10. Problemas ginecológicos (menstruación anómala, infertilidad).

                        <br><br><br>

                        El índice de masa corporal (IMC) es una razón matemática
                        que asocia la masa y la talla de un individuo, ideada por el
                        estadístico belga Adolphe Quetelet, por lo que también se
                        conoce como índice de Quetelet.
                        IMC = masa o peso (kg) / estatura 2
                        (m2
                        )
                        El sistema presenta las opciones de registrar los datos del
                        empleado y ver estadísticas de los empleados registrados,
                        <br><br>
                        El usuario ingresa la información de los empleados luego el
                        sistema presenta un informe estadístico con el número de
                        personas que se encuentran en las siguientes
                        clasificaciones: 1) bajo de peso (IMC menor de 18.5), 2) peso
                        normal (IMC entre 18.5 y 24.9), 3) sobrepeso (IMC entre 25
                        y 29.9) y 4) en obesidad (IMC mayor o igual a 30). <br> <br> <br>

                        </p>
                    </div>
                </article>
              
            </section>
        </main>

        <footer class="text-white bg-black w-full flex items-center">
            <div class=" w-4/5 mx-auto flex justify-between">
                <p class="">2022 Copyright | Derechos de autor Brayan Garcia</p>
                <div>
                    <a href="https://github.com">github</a>
                    <i class="fa-brands fa-github">
                    </i>
                </div>
            </div>
        </footer>
</body>

</html>