<footer class="text-white bg-black w-full flex items-center">
    <div class=" w-4/5 mx-auto flex justify-between">
        <p class="">2022 Copyright | Derechos de autor Brayan Garcia</p>
        <div>
            <a href="https://github.com">github</a>
            <i class="fa-brands fa-github">
            </i>
        </div>
    </div>
</footer>
</html>